.footer {
  grid-column: 1/-1;
  margin: 1rem 0rem;
  border-top: 1px solid black;
  background-color: whitesmoke;
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  text-align: center;
  grid-gap: 7x;
  padding: 35px;
}
li {
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
}
.copy {
  margin-top: 1rem;
  padding-bottom: 2rem;
  font-size: 12px;
  text-align: center;
  word-spacing: 2px;
  background-color: whitesmoke;
}
.copy-text,
.footer-title {
  color: orange;
}
.logo-3 {
  margin-right: 3px;
}
.telegram:hover {
  color: rgb(0, 140, 255);
}
.whatsapp:hover {
  color: rgb(0, 255, 13);
}
.youtube:hover {
  color: rgb(255, 51, 0);
}
.youtube,
.telegram,
.whatsapp {
  transition: 0.5s ease-in;
  color: black;
}
@media only screen and (max-width: 790px) {
  .footer-section {
    display: block;
    text-align: start;
  }
  .footer-section a {
    text-align: start;
  }
}
